@charset "utf8";


* {
	box-sizing: border-box;	
}

body {
	background: black;
	color: white;
	font-family: helvetica;
	font-size: 16px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

#header-statement {
	text-align: center;
}

.page-row {
	width: 100%;
	clear: both;
	padding: 5%;
	margin: 2% 0 2% 0;
}

.group {
	width: 15%;
	height: 225px;
	margin: 2.5%;
	padding: 10% 0 0 0;
	float: left;
	background: lightsteelblue;
	text-align: center;
	color: black;
	background-size: contain;
	background-repeat: no-repeat;
}

#displayDeck {
	width: 100%;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:url("/images/deck.png");
	background-attachment: fixed;
	background-position: center;
}

#new-deck {
	background-image:url("/images/cards.png");
}

#shuffled-deck {
	background-image:url("/images/shuffle.png");
}

#picked-card {
	background-image:url("/images/card.png");
}

#return-card {
	background-image:url("/images/card.png");
}

#page {
	width: 100%;
	height: 100px;
	line-height: 100px;
}

#logo {
	float: left;
}

#navbar {
	float: right;
}

#nav-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-link {
	display: inline;
	padding: 5px 15px 5px 15px;
}

#page a	 {
	text-decoration: none;
	color: white;
}	

#footer {
	width: 100%;
	height: 100px;
	line-height: 100px;
}

.diamonds {
	background-image:url("/images/diamond.png");
}

.hearts {
	background-image:url("/images/heart.png");
}

.clubs {
	background-image:url("/images/club.png");
}

.spades {
	background-image:url("/images/spade.png");
}

table {
	border: 2px black solid;
	border-collapse: collapse;
	width: 25%;	
}

tr, td, th {
	border: 2px white solid;
}

th {
	background: black;
	color: white;
}
